/* Based on "Composition II in Red, Blue, and Yellow," by Piet Mondrian (1930): https://en.wikipedia.org/wiki/Piet_Mondrian */
.wrapper {
    width: 633px;
    height: 458px;

    background-color: black;
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 70px 17px 58px 49px 81px 144px;
    grid-template-columns: 297px 83px 152px 70px;
}
.wrapper > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
}
div {
    border: 1px solid black;
    background-color: white;
    opacity: 0.5;
}
.a {
    grid-column: 1 / 2;
    grid-row: 1 / 6;
    background-color: red;
}
.b {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    background-color: yellow;
}
.c {
    grid-column: 3 / 4;
    grid-row: 1 / 4;

}
.d {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    background-color: red;
}
.e {
    grid-column: 2 / 3;
    grid-row: 3 / 6;
}
.f {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
    background-color: blue;
}
.g {
    grid-column: 4 / 5;
    grid-row: 2 / 5;
    
}
.h {
    grid-column: 1 / 2;
    grid-row: 6 / 7;
}
.i {
    grid-column: 2 / 3;
    grid-row: 6 / 7;
    background-color: blue;
}
.j {
    grid-column: 3 / 5;
    grid-row: 5 / 7;
    background-color: yellow;   
}










